@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800');

:root {
  --bg-background-primary: #111827;
  --bg-background-secondary: #182635;
  --bg-background-tertiary: #1f2937;

  --bg-background-form: #1a202c;

  --text-copy-primary: #9ca3af;
  --text-copy-secondary: #cbd5e0;

  --border-border-color-primary: #1a202c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-copy-heading text-4xl font-extrabold;
}

:root .markdown-body {
  color: #cbd5e0;
}

.content-wrapper {
  transition: background-color 0.25s;
}

a {
  @apply text-purple-100 font-bold;
  cursor: pointer !important;
}

a:hover {
  @apply text-purple-200;
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}

.responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

hr.hr {
  color: red;
  border-top: 1px solid rgba(252, 252, 252, 0.1);
}
