---
import Link from '../components/Link.astro';
import SocialLinks from '../components/SocialLinks.astro';
import MainLayout from '../layouts/MainLayout.astro';

import user from '../data/user';
import config from '../data/site-config';
import events from '../data/events';
import EventItem from '../components/eventItem.astro';
import Newsletter from '../components/Newsletter.astro';

const title = `About - ${config.siteTitle} | Software Developer and Open Source Enthusiast`;
---

<MainLayout title={title}>
  <div class="mx-auto container-inner">
    <div class="text-xl md:text-lg">
      <p class="">
        Hi 👋, I'm Emmanuel. Welcome to my digital garden 🌱.
        <br />

        Seems you just discovered my personal space on the internet. Enjoy!
      </p>

      <p class="mt-4">
        I'm a Full Stack Developer with over 5 years of experience building
        applications for the web. I'm currently working at <Link
          href="https://tecmie.com"
          text="Tecmie"
          classes="link"
        />
        as a Partner. I'm passionate about building products that solve problems
        and make people's lives easier.
        <br />
        I also enjoy building tools for other developers. I'm a big fan of open source
        and I'm always looking for ways to contribute to the community.
      </p>

      <p class="mt-4">
        In my free time, I like to journal. I read <Link
          classes="link"
          href={user.goodreads}
          text="books"
        /> too. My interest spans across thrillers and African literatures.
        <br />
        I listen to quite a couple of (seemingly random) collection of songs that
        may seem chaotic to you but I like them anyway. <br /> I also enjoy watching
        sitcom, documentaries, and detective series.
      </p>
    </div>

    <div class="flex justify-start mt-4">
      <SocialLinks />
    </div>

    <div class="my-20">
      <h2 class="mb-6">Speaking</h2>

      <p class="mb-6">
        Want me to speak at your event? Reach out to me via email or twitter.
      </p>

      <div class="">
        {events.map((event) => <EventItem event={event} />)}
      </div>
    </div>

    <Newsletter />
  </div>
</MainLayout>
