---
import Link from '../components/Link.astro';
import SocialLinks from '../components/SocialLinks.astro';
import MainLayout from '../layouts/MainLayout.astro';

import user from '../data/user';
import config from '../data/site-config';

const title = `About - ${config.siteTitle} | Software Developer and Open Source Enthusiast`;
---

<MainLayout title={title}>
  <div class="mx-auto container-inner">
    <!-- <div
      class="flex flex-col items-center justify-between pt-8 pb-8 mx-auto hero container-inner sm:flex-row"
    >
      <div class="font-bold text-center lg:focus:w-full sm:w-3/5 sm:text-left">
        <div class="text-5xl leading-tight">Emmanuel Raymond</div>
        <div class="text-lg leading-tight text-purple-100">
          Software Engineer, Technical Writer and Open Source Enthusiast
        </div>
  
      </div>
    </div> -->

    <div class="text-xl md:text-lg">
      <p class="">
        Hi 👋, I'm Emmanuel and welcome to my Digital Garden. I'm passionate
        about Open Source and Learning in Public.
      </p>

      <p class="mt-4">
        I'm a Product Engineer with over 5 years of experience with a track
        record in building complex applications on a global scale with tools
        such as Javascript, Nodejs, Vuejs (2 & 3), Nuxt, MySQL, MongoDB and
        other modern technologies.
      </p>

      <p class="mt-4">
        {' '}
        I'm experienced in different industries such as SaaS, B2C, B2B, start-ups
        and scale-up stage companies. Worked with different teams large and small,
        as well as teams in different geographical zones. Familiar with agile/scrum
        development process and have used tools such as Jira, Notion, Zoom, Slack,
        Asana, Basecamp, Google suite, etc.
      </p>

      <p class="mt-4">
        I'm an active contributor to open source projects. I'm a core team
        contribitor to{' '}
        <a href="https://vue.chakra-ui.com/">Chakra UI Vue</a>
      </p>

      <p class="mt-4">
        In my free time, I like to journal. I read <Link
          classes="link"
          href={user.goodreads}
          text="books"
        /> to music, playing chess when I can, hanging out with friends and family,
        reading books, and doing my best to learn the Guitar.
      </p>

      <p class="mt-2">
        I listen to quite a couple of (seemingly random) collection of songs
        that may seem chaotic to you but I like them anyway. <br /> I also enjoy
        watching sitcom, documentaries, and detective series.
      </p>

      I also like listening to music and going on cycling trips with friends.
    </div>

    <div class="flex justify-start mt-4">
      <SocialLinks />
    </div>
  </div>
</MainLayout>
