---
import { getCollection, CollectionEntry } from 'astro:content';

import MainLayout from '../layouts/MainLayout.astro';

import { formatBlogPosts } from '../utils/helpers';
import config from '../data/site-config';
import BlogPosts from '../components/BlogPost';

const posts = await getCollection('blog');

const formattedPosts: CollectionEntry<'blog'>[] = formatBlogPosts(posts);

formattedPosts.map(async (post) => {
  const { remarkPluginFrontmatter } = await post.render();
  post.data.minutesRead = remarkPluginFrontmatter.minutesRead;
  return post;
});
---

<MainLayout
  title={`Blog - ${config.siteTitle} | Software Developer and Open Source Enthusiast`}
>
  <div class="mx-auto container-inner">
    <BlogPosts posts={formattedPosts} client:load />
  </div>
</MainLayout>
