---
import avatar from '/images/author.jpg';
import SocialLinks from './SocialLinks.astro';
---

<div class="overflow-x-hidden border-gray-200 border-b">
  <div class="get-to-know-me container-inner mx-auto text-xl pb-16 relative">
    <h2 class="font-bold mb-2 text-2xl text-center" id="about">
      About the Author
    </h2>

    <div
      class="absolute left-0"
      style={{ top: 50 + 'px', transform: 'translateX(-100%)' }}
    >
      <svg width="170px" height="170px">
        <use xlink:href="#dots-triangle"></use>
      </svg>
    </div>

    <div class="flex flex-col sm:flex-row items-center mb-12">
      <div class="mb-6 lg:mb-0">
        <img
          src={avatar}
          alt="avatar"
          class="w-32 h-32 rounded-full object-cover"
        />
      </div>
      <div class="flex-1 ml-6">
        <p>
          Hi 👋, I'm Emmanuel. I write about the JavaScript ecosystem, software
          development and everything in-between. Everything on this site is
          ad-free and up to date.
        </p>

        <div class="mt-2">
          <SocialLinks />
        </div>
      </div>
    </div>
  </div>
</div>
