---
let styles = {
  transform: 'translate(100%) rotate(180deg)',
};
---

<div class="overflow-x-hidden">
  <div class="contact-me bg-background-primary pt-16">
    <div class="container-inner mx-auto text-xl pb-4 relative">
      <h2 class="font-bold mb-6" id="contact">Contact me:</h2>

      <div class="absolute right-0 top-0" style={styles}>
        <svg width="170px" height="170px">
          <use xlink:href="#dots-triangle"></use>
        </svg>
      </div>

      <p class="mb-12">
        If you’re looking to get in contact with me for business inquiries or if
        you have a question, feel free to send me a message. I’ll try to respond
        as soon as I can
      </p>

      <div class="text-lg sm:text-lg mb-16">
        <form
          action="https://formspree.io/xyykwazv"
          method="POST"
          class="mb-12"
          target="_blank"
        >
          <div class="flex flex-wrap mb-6 -mx-4">
            <div class="w-full md:w-1/2 mb-6 md:mb-0 px-4">
              <label class="block mb-2 text-copy-primary" for="name">
                Name
              </label>

              <input
                type="text"
                name="name"
                id="name"
                placeholder="Jon Snow"
                class="block w-full bg-background-form border border-color-primary shadow rounded outline-none focus:border-purple-100 mb-2 p-4"
                required
              />
            </div>

            <div class="w-full px-4 md:w-1/2">
              <label class="block text-copy-primary mb-2" for="email">
                Email Address
              </label>

              <input
                type="email"
                name="_replyto"
                id="email"
                placeholder="email@example.com"
                class="block w-full bg-background-form border border-color-primary shadow rounded outline-none focus:border-purple-100 mb-2 p-4"
                required
              />
            </div>
          </div>

          <div class="w-full mb-12">
            <label class="block text-copy-primary mb-2" for="message">
              Message
            </label>

            <textarea
              id="message"
              rows="5"
              name="message"
              class="block w-full bg-background-form border border-color-primary shadow rounded outline-none appearance-none focus:border-purple-100 mb-2 px-4 py-4"
              placeholder="Enter your message here."
              required></textarea>
          </div>

          <div class="flex justify-end w-full">
            <input
              type="submit"
              value="Submit"
              class="block bg-purple-100 hover:bg-green-800 text-white text-sm font-semibold tracking-wide uppercase shadow rounded cursor-pointer px-6 py-3"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
