---
import SocialLinks from './SocialLinks.astro'
const currentYear = new Date().getFullYear()
---

<footer class="bg-background-secondary mt-12">
  <div
    class="container-inner py-4 mx-auto flex flex-col items-center space-y-2"
  >
    <!-- <p class="text-xl">Have a nice day!</p>
      <SocialLinks /> -->

    <div class="">
      <p class="">
        &copy; {currentYear} Emmanuel Raymond
      </p>
    </div>

    <div>
      <a
        href="/feed.xml"
        class="font-normal text-white underline hover:text-gray-400"
      >
        RSS
      </a>
    </div>
  </div>
</footer>
