---
---

<header class="border-t-14 border-green-700">
  <nav
    class="container mx-auto flex flex-wrap justify-between items-center py-8"
  >
    <div>
      <a href="/" class="inline-block bg-white py-2 px-4">
        <div
          class="transform translate-y-3 translate-x-2 font-bold italic leading-10 text-xl"
        >
          ER
        </div>
      </a>
    </div>

    <div class="block lg:hidden">
      <button
        class="flex items-center px-3 py-2 border rounded border-gray-500 hover:text-gray-600 hover:border-gray-600"
      >
        <svg
          class="current-color h-3 w-3"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" fill="gray"
          ></path></svg
        >
      </button>
    </div>

    <ul
      class="uppercase tracking-wide font-bold space-x-8 space-y-6 space-y-0 mt-0"
    >
      <li>
        <a href="/blog" class="text-copy-primary hover:text-gray-600"> Blog</a>
      </li>
    </ul>
  </nav>
</header>
