---
import NavbarLink from './NavbarLink.astro';
---

<header class="border-t-14 border-blue-100">
  <nav class="container-inner mx-auto py-8">
    <a href="/" class="inline-flex items-center space-x-2">
      <div class="bg-white rounded-full py-2 px-4">
        <div
          class="transform translate-y-3 translate-x-2 font-bold italic leading-10 text-xl"
        >
          ER
        </div>
      </div>
      <h2 class="text-2xl">Emmanuel Raymond</h2>
    </a>

    <nav class="tracking-wide space-x-8 mt-4 flex">
      <NavbarLink href="/">Home</NavbarLink>
      <NavbarLink href="/about">About</NavbarLink>
      <NavbarLink href="/blog">Blog</NavbarLink>
    </nav>
  </nav>
</header>
