---
import { getCollection, CollectionEntry } from 'astro:content'

import { formatBlogPosts } from '../utils/helpers'
import Post from '../components/Post'

const posts = await getCollection('blog')

const formattedPosts: CollectionEntry<'blog'>[] = formatBlogPosts(posts, {
  limit: 5,
})

formattedPosts.map(async (post) => {
  const { remarkPluginFrontmatter } = await post.render()
  post.data.minutesRead = remarkPluginFrontmatter.minutesRead
  return post
})
---

<div id="projects" class="projects container-inner mx-auto relative my-20">
  <h2 class="mb-6 text-4xl font-extrabold">Latest Articles</h2>

  <p class="text-xl mb-6 lg:w-2/3">
    During my free time, I like to hack on things that I find interesting and/or
    would use. Here are a couple of them, you can find other random things I
    build on my <a href="https://github.com/peoray">GitHub</a> page.
  </p>

  <div class="">
    {formattedPosts.map((post) => <Post post={post.data} />)}
  </div>
</div>
