---
interface Props {
  title: string;
  description: string;
  date: string;
  minutesRead: string;
  path: string;
}

const { post } = Astro.props;
const { title, description, path, date, minutesRead } = post as Props;
---

<a
  href={path}
  rel="prefetch"
  class="flex flex-col gap-y-3 hover:bg-background-secondary p-4 mb-6 transition-all rounded-xl text-copy-primary hover:text-copy-primary"
>
  <h2 class="text-purple-100 text-2xl">{title}</h2>

  <p class="text-xl font-medium">{description}</p>

  <div class="flex items-center gap-x-2 font-medium">
    <time>
      {
        new Date(date).toLocaleDateString('en-gb', {
          year: 'numeric',
          month: 'short',
          day: 'numeric',
        })
      }
    </time>

    <span>•</span>

    {(<span>{minutesRead}</span>)}
  </div>
</a>
