---
import projects from '../data/projects';
import Link from './Link.astro';
import ProjectItem from './ProjectItem.astro';
---

<div id='projects' class='projects container-inner mx-auto relative my-20'>
	<h2 class='mb-6 text-4xl font-extrabold'>Projects</h2>

	<!-- <p class="mb-6 lg:w-2/3 text-xl"> -->
	<p class='mb-6 text-lg'>
		I like to explore ideas through side projects—most of what I build comes
		from personal needs or things I wish existed. Some turn into real products,
		some stay fun experiments. Here are a few highlights:

		<!-- <Link
			href='https://github.com/peoray'
			text='GitHub'
			classes='link'
		/>page. -->
	</p>

	<div class='grid lg:grid-cols-2 gap-4 lg:gap-8'>
		{projects.map((project) => <ProjectItem project={project} />)}
	</div>
</div>
