---
import projects from '../data/projects';
import ProjectItem from './ProjectItem.astro';
---

<div class="projects container-inner mx-auto relative my-20">
  <h2 class="mb-6">Projects</h2>

  <p class="mb-6 font-light lg:w-2/3">
    During my free time, I like to hack on things that I find interesting and/or
    would use. Here are a couple of them, you can find other random things I
    build on my <a href="https://github.com/peoray">GitHub</a> page.
  </p>

  <div class="grid lg:grid-cols-2 gap-4 lg:gap-8">
    {
      projects.map((project) => (
        <ProjectItem
          title={project.title}
          description={project.description}
          source={project.source}
        />
        // path={project.path}
      ))
    }
  </div>
</div>
