---
const { previous, next } = Astro.props;
---

<nav class="lg:flex justify-between mt-10 md:mt-16">
  {
    previous && (
      <a
        href={previous.frontmatter.path}
        rel="previous"
        class="transition-all duration-300 block cursor-pointer"
      >
        <span class="flex items-baseline text-white opacity-50 text-sm">
          <span class="text-xl">&#8592;</span>
          Previous
        </span>
        <h2 class="text-xl">{previous.frontmatter.title}</h2>
      </a>
    )
  }

  {
    next && (
      <a
        href={next.frontmatter.path}
        rel="next"
        class="transition-all duration-300 block mt-6 md:mt-0 cursor-pointer"
      >
        <span class="flex items-baseline text-white opacity-50 text-sm">
          Next
          <span class="text-xl">&#8594;</span>
        </span>
        <h2 class="text-xl">{next.frontmatter.title}</h2>
      </a>
    )
  }
</nav>
