---
import MainLayout from '../../layouts/MainLayout.astro';
import Post from '../../components/Post.astro';

import { getCollection, CollectionEntry } from 'astro:content';

import { formatBlogPosts, kebabCaseStr } from '../../utils/helpers';
import type { PostFrontMatter, MyPostInstance } from '../../utils/types';
import config from '../../data/siteConfig';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const formattedPosts = formatBlogPosts(posts);

  const uniqueTags = [
    ...new Set(
      formattedPosts
        .map((post: { data: { tags: any } }) => post.data.tags)
        .flat()
    ),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = formattedPosts.filter(
      (post: { data: { tags: unknown[] } }) => post.data.tags.includes(tag)
    );
    return {
      params: { tag: kebabCaseStr(tag) },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<MainLayout title={`Posts tagged as "${tag}" – ${config.siteTitle}`}>
  <div class="container-inner mx-auto my-16">
    <h2 class="text-4xl font-bold mb-8 border-b">Tag: {tag}</h2>

    {posts.map((post: any) => <Post post={post.data} />)}
  </div>
</MainLayout>
